.main-contenedor {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contenedor {
    background-color: #0d4263;
    width: 215px;
    height: 215px;
    display: grid;
    gap: 15px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
    grid-auto-rows: 100px;
    padding: 0;
    margin: 0;
  }
  
  .item {
    background-color: #019cd9;
    display: grid;
    place-items: end;
    color: #1e61a8;
  }
  
  .item span {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #1e61a8;;
  }